<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>container</title>



    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="../loader.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../translate.css">

</head>
<body>
    <div class="wrapper">
          <!-- Sidebar  -->
          <div class="slide-container">
            <nav class="" id="sidebar">
            
                <div class="sidebar-header h-15">
                   <div class="neos-logo w-84">
                    <a  href="../index.html">
                    
                        <img src="../neolabs150.svg" alt="NeoLabsLogo" title="NeoLabsLogo">
                    
                    </a>
                   </div>
                    
                    
                </div>
                <div style="position: relative;">
                    <div id="google_translate_element" style="position: relative;"></div>
                </div>
                <hr style="height: 3px; border-color: gray;">
    
                <ul class="list-unstyled components-list">
                    <li>
                      <li>
                        <a href="../index.html">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                      </li>
                      <!-- CUSTOMİZE -->

                       <li class="companents">
                            <a href="../customize/color.html">
                                <i class="fas fa-image"></i>
                                        Customize
                             </a>
                        <ul class="list-content">
                            <li>
                                <a href="../customize/color.html">Color</a>
                            </li>
                           
                        </ul>    
                       </li>
                       <!-- LAYOUT -->
                       <li class="companents">
                            <a href="">
                                <i class="fa-solid fa-fan m-0 p-0"></i>
                                        Layout
                             </a>
                        <ul class="list-content">
                            <li>
                                <a class="active" href="../layout/container.html">Containers</a>
                            </li>
                            <li>
                                <a href="../layout/grid.html">Grid</a>
                            </li>
                            
                            
                        </ul>    
                       </li>
                       <!-- FORMS -->
                       <li class="companents">
                        <a href="#">
                            <i class="fa-solid fa-list  m-0 p-0"></i>
                                    Forms
                         </a>
                    <ul class="list-content">
                        <li>
                            <a href="../forms/select.html">Select</a>
                        </li>
                        <li>
                            <a href="../forms/checks_radios.html">Checks & radios</a>
                        </li>
                        <li>
                            <a href="../forms/input_group.html">Input group</a>
                        </li>
                        <li>
                            <a href="../forms/register_login.html">Register-Login</a>
                        </li>
                    </ul>    
                   </li>
                         <!-- COMPANENTS -->
                        <li class="companents">
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="fas fa-briefcase"></i>
                                
                                Companents
                            </a>
                            <ul class="list-content">
                                <li>
                                    <a href="../companents/buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="../companents/button_hover.html">Buttons hover</a>
                                </li>
                                
                                <li>
                                    <a href="../companents/card.html">Card</a>
                                </li>
                                <li>
                                    <a href="../companents/carousel.html">Carousel</a>
                                </li>
                                <li>
                                    <a href="../companents/dropdown.html">Dropdowns</a>
                                </li>
                                <li>
                                    <a href="../companents/navbar.html">Navbar</a>
                                </li>
                                <li>
                                    <a href="../companents/navbar_dropdown.html">Navbar-dropdown</a>
                                </li>
                               
                               
                            </ul>
                       
                        </li>
                           

                       
                    </li>
                    <!-- Functions -->
                    <li class="companents">
                        <a href="#">
                            <i class="fa-regular fa-clone"></i>
                            
                            Functions
                        </a>
                        <ul class="list-content">
                           
                            <li>
                                <a href="../functions/border.html">Borders</a>
                            </li>
                            
                            <li>
                                <a href="../functions/display.html">Display</a>
                            </li>
                            
                            <li>
                                <a href="../functions/position.html">Position</a>
                            </li>
                            <li>
                                <a href="../functions/sizing.html">Sizing</a>
                            </li>
                            <li>
                                <a href="../functions/spacing.html">Spacing</a>
                            </li>
                            <li>
                                <a href="../functions/text.html">Text</a>
                            </li>
                    </li>
                    </ul>
                    
                    
                       
                       
                      
                    
                    <li>
                      
                        <a href="#">
                            
                            <i class="fa-solid fa-book m-0 p-0"></i>
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-question"></i>
                           SSS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-paper-plane"></i>
                            Contact
                        </a>
                    </li>
                </ul>
    
            
            
        </nav>
        </div>

        <div class="content-container">
            <div id="content">

            
            

    <!-- Grid ÖZELLİKLERİ -->
    <div class="main">
        <div class="main-item">
            <div class="main-title">
                <h2 class="mt-5 w-100 text-neosblue">Container</h2>
                <p class="fw-ligt mt-3 fs-6">Containerlar, en temel düzen öğeleridir ve varsayılan ızgara sistemi kullanılırken gereklidir. </p><br><br>
                <ul>
                    

            </div>
            <div class="main-border">
                <div class="table-scroll">
                    <table>
                        <tr>
                            <th class="table-responsive">
                                  
                              </th>
                        <th class="table-responsive">
                            <span class="fw-normal">xs</span>
                            <br>
                            <span class="fw-normal"><576px</span>
                            </th>
                          <th class="table-responsive">
                            <span class="fw-normal">sm</span>
                            <br>
                            <span class="fw-normal">>576px</span>
                          </th>
                          <th class="table-responsive"> 
                            <span class="fw-normal">md</span>
                            <br>
                            <span class="fw-normal">>768px</span>
                          </th>
                          <th class="table-responsive">
                            <span class="fw-normal">lg</span>
                            <br>
                            <span class="fw-normal">>992px</span>
                          </th>
                          <th class="table-responsive">
                            <span class="fw-normal">xl</span>
                            <br>
                            <span class="fw-normal">>1200px</span>
                          </th>
                          <th class="table-responsive">
                            <span class="fw-normal">xxl</span>
                            <br>
                            <span class="fw-normal">None</span>
                          </th>
                        </tr>
                        <tr>
                          <td class="table-responsive"><span class="fw-bold">Container</span></td>
                          <td class="table-responsive"><span class="fw-normal">None</span></td>
                          <td class="table-responsive"><span class="fw-normal">54rem</span></td>
                          <td class="table-responsive"><span class="fw-normal">72rem</span></td>
                          <td class="table-responsive"><span class="fw-normal">96rem</span></td>
                          <td class="table-responsive"><span class="fw-normal">114rem</span></td>
                          <td class="table-responsive"><span class="fw-normal">132rem</span></td>
                        </tr>
                        
                      
                      </table>
                </div>
               
            </div>

        </div>
    </div>

        </div>
        </div>
    </div>





<script src="../sidebar/sidebar.js"></script>
<script src="../script.js"></script>
<script src="../translate.js"></script>
</body>
</html>
