<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid</title>


 
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="../loader.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../translate.css">
   
</head>
<body>
    <div class="wrapper">
         <!-- Sidebar  -->
         <div class="slide-container">
            <nav class="" id="sidebar">
            
                <div class="sidebar-header h-15">
                   <div class="neos-logo w-84">
                    <a  href="../index.html">
                    
                        <img src="../neolabs150.svg" alt="NeoLabsLogo" title="NeoLabsLogo">
                    
                    </a>
                   </div>
                    
                    
                </div>
                <div style="position: relative;">
                    <div id="google_translate_element" style="position: relative;"></div>
                </div>
                <hr style="height: 3px; border-color: gray;">
    
                <ul class="list-unstyled components-list">
                    <li>
                      <li>
                        <a href="../index.html">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                      </li>
                      <!-- CUSTOMİZE -->

                       <li class="companents">
                            <a href="../customize/color.html">
                                <i class="fas fa-image"></i>
                                        Customize
                             </a>
                        <ul class="list-content">
                            <li>
                                <a href="../customize/color.html">Color</a>
                            </li>
                           
                        </ul>    
                       </li>
                       <!-- LAYOUT -->
                       <li class="companents">
                            <a href="">
                                <i class="fa-solid fa-fan m-0 p-0"></i>
                                        Layout
                             </a>
                        <ul class="list-content">
                            <li>
                                <a href="../layout/container.html">Containers</a>
                            </li>
                            <li>
                                <a class="active" href="../layout/grid.html">Grid</a>
                            </li>
                            
                            
                        </ul>    
                       </li>
                       <!-- FORMS -->
                       <li class="companents">
                        <a href="#">
                            <i class="fa-solid fa-list  m-0 p-0"></i>
                                    Forms
                         </a>
                    <ul class="list-content">
                        <li>
                            <a href="../forms/select.html">Select</a>
                        </li>
                        <li>
                            <a href="../forms/checks_radios.html">Checks & radios</a>
                        </li>
                        <li>
                            <a href="../forms/input_group.html">Input group</a>
                        </li>
                        <li>
                            <a href="../forms/register_login.html">Register-Login</a>
                        </li>
                    </ul>    
                   </li>
                         <!-- COMPANENTS -->
                        <li class="companents">
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="fas fa-briefcase"></i>
                                
                                Companents
                            </a>
                            <ul class="list-content">
                                <li>
                                    <a href="../companents/buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="../companents/button_hover.html">Buttons hover</a>
                                </li>
                                
                                <li>
                                    <a href="../companents/card.html">Card</a>
                                </li>
                                <li>
                                    <a href="../companents/carousel.html">Carousel</a>
                                </li>
                                <li>
                                    <a href="../companents/dropdown.html">Dropdowns</a>
                                </li>
                                <li>
                                    <a href="../companents/navbar.html">Navbar</a>
                                </li>
                                <li>
                                    <a href="../companents/navbar_dropdown.html">Navbar-dropdown</a>
                                </li>
                               
                               
                            </ul>
                       
                        </li>
                           

                       
                    </li>
                    <!-- Functions -->
                    <li class="companents">
                        <a href="#">
                            <i class="fa-regular fa-clone"></i>
                            
                            Functions
                        </a>
                        <ul class="list-content">
                           
                            <li>
                                <a href="../functions/border.html">Borders</a>
                            </li>
                            
                            <li>
                                <a href="../functions/display.html">Display</a>
                            </li>
                            
                            <li>
                                <a href="../functions/position.html">Position</a>
                            </li>
                            <li>
                                <a href="../functions/sizing.html">Sizing</a>
                            </li>
                            <li>
                                <a href="../functions/spacing.html">Spacing</a>
                            </li>
                            <li>
                                <a href="../functions/text.html">Text</a>
                            </li>
                    </li>
                    </ul>
                    
                    
                       
                       
                      
                    
                    <li>
                      
                        <a href="#">
                            
                            <i class="fa-solid fa-book m-0 p-0"></i>
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-question"></i>
                           SSS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-paper-plane"></i>
                            Contact
                        </a>
                    </li>
                </ul>
    
            
            
        </nav>
        </div>

        <div class="content-container">
            <div id="content">

            
                <!-- <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-neosblue">
                        
                        <span><i class="fas fa-align-left"></i></span>
                    </button>
                

                </div>
            -->

    <!-- Grid ÖZELLİKLERİ -->
                <div class="main">
                    <h1 class="text-neosblue mt-5">Grid System</h1>
                    <p class="fw-ligt mt-3 fs-6">Mobil cihazlar dahil tüm farklı cihazlarda uyumlu ve esnek bir mizanpaj oluşturmak için kullanabileceğiniz bir seçenek, on iki sütunlu bir sistem ve altı varsayılan duyarlı katmandan oluşan bir  ızgara sistemidir. Bu sayede, web sayfalarınızın şekil ve boyutları ne olursa olsun, esnek ve özelleştirilebilir bir mizanpaj oluşturabilirsiniz.</p>
                    <div class="main-item">
                        <div class="main-title">
                            <h2 class="mt-5 w-100 text-neosblue">Basic Example</h2>

                        </div>
                        <div class="main-border">
                            <div class="main-bottom position-relative ">

                                <div class="container view text-center">
                                    <div class="row">
                                      <div class="bg-gray p-3 col-3">
                                        col-3
                                      </div>
                                      <div class="bg-neosblue col-3 p-3">
                                        col-3
                                      </div>
                                      <div class="bg-yellow col-3 p-3">
                                        col-3
                                      </div>
                                      <div class="bg-green col-3 p-3">
                                        col-3
                                      </div>
                                    </div>
                                  </div>

                            
                            </div>
                            <div class="kapsayici">
                                <pre class=" main-code fs-5 p-2">
                                    <code>
                                    <!-- İnput Group Span Etiketleri -->
<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"container view text-center"</span><span class="mark">&gt;</span>
    <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"row"</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-3"</span><span class="mark">&gt;</span>
            col-3
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-3"</span><span class="mark">&gt;</span>
            col-3
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-3"</span><span class="mark">&gt;</span>
            col-3
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-3"</span><span class="mark">&gt;</span>
            col-3
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
    <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>

                                    
                                </code>
                                  </pre>
                                  <div class="main-html d-flex pt-2 p-2 ">
                                    <p class="text-black fs-6 fw-normal mt-2 ">HTML</p>
                                <div class="d-flex ms-auto">
                                    <button type="button" class="p-1">
                                        <i class="fa-solid fa-copy "></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="main">
                    <div class="main-item">
                        <div class="main-title">
                            <h2 class="mt-5 w-100 text-neosblue">Equal part</h2>
                            <p class="fw-ligt mt-3 fs-6">Dilerseniz sayfanızı iki parça halinde kullanın.</p>

                        </div>
                        <div class="main-border">
                            <div class="main-bottom position-relative ">

                                <div class="container view text-center">
                                    <div class="row mb-3">
                                      <div class="bg-gray col-6 p-3">
                                        1 of 2
                                      </div>
                                      <div class="bg-hot col-6 p-3">
                                        2 of 2
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="bg-green col-4 p-3">
                                        1 of 3
                                      </div>
                                      <div class="bg-neosblue col-4 p-3">
                                        2 of 3
                                      </div>
                                      <div class="bg-yellow col-4 p-3">
                                        3 of 3
                                      </div>
                                    </div>
                                  </div>

                            
                            </div>
                            <div class="kapsayici">
                                <pre class=" main-code fs-5 p-2">
                                    <code>
                                    <!-- İnput Group Span Etiketleri -->
<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"container view text-center"</span><span class="mark">&gt;</span>
    <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"row"</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-3"</span><span class="mark">&gt;</span>
            col-3
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-3"</span><span class="mark">&gt;</span>
            col-3
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
    <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"row"</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-4"</span><span class="mark">&gt;</span>
            col-4
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-4"</span><span class="mark">&gt;</span>
            col-4
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
        <span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"bg-gray p-3 col-4"</span><span class="mark">&gt;</span>
            col-4
        <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
    <span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>                                        
                                </code>
                                  </pre>
                                  <div class="main-html d-flex pt-2 p-2 ">
                                    <p class="text-black fs-6 fw-normal mt-2 ">HTML</p>
                                <div class="d-flex ms-auto">
                                    <button type="button" class="p-1">
                                        <i class="fa-solid fa-copy "></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="main">
                    <div class="main-item">
                        <div class="main-title">
                            <h2 class="mt-5 w-100 text-neosblue">Grid option</h2>
                            <p class="fw-ligt mt-3 fs-6">Neolabs bizlere beş kırılma noktası sağlar.Beş kırılma noktası aşağıdaki gibidir:</p><br><br>
                            <ul>
                                <li>Extra small (xs)</li>
                                <li>Small (sm)</li>
                                <li>Medium (md)</li>
                                <li>Large (lg)</li>
                                <li>Extra large (xl)</li>
                            </ul><br><br>

                        </div>
                        <div class="main-border">
                            <div class="table-scroll">
                                <table>
                                    <tr>
                                        <th class="table-responsive">
                                              
                                          </th>
                                    <th class="table-responsive">
                                        <span class="fw-normal">xs</span>
                                        <br>
                                        <span class="fw-normal"><576px</span>
                                        </th>
                                      <th class="table-responsive">
                                        <span class="fw-normal">sm</span>
                                        <br>
                                        <span class="fw-normal">>576px</span>
                                      </th>
                                      <th class="table-responsive"> 
                                        <span class="fw-normal">md</span>
                                        <br>
                                        <span class="fw-normal">>768px</span>
                                      </th>
                                      <th class="table-responsive">
                                        <span class="fw-normal">lg</span>
                                        <br>
                                        <span class="fw-normal">>992px</span>
                                      </th>
                                      <th class="table-responsive">
                                        <span class="fw-normal">xl</span>
                                        <br>
                                        <span class="fw-normal">>1200px</span>
                                      </th>
                                      <th class="table-responsive">
                                        <span class="fw-normal">xxl</span>
                                        <br>
                                        <span class="fw-normal">None</span>
                                      </th>
                                    </tr>
                                    <tr>
                                      <td class="table-responsive"><span class="fw-bold">Container</span></td>
                                      <td class="table-responsive"><span class="fw-normal">None</span></td>
                                      <td class="table-responsive"><span class="fw-normal">540px</span></td>
                                      <td class="table-responsive"><span class="fw-normal">720px</span></td>
                                      <td class="table-responsive"><span class="fw-normal">960px</span></td>
                                      <td class="table-responsive"><span class="fw-normal">1140px</span></td>
                                      <td class="table-responsive"><span class="fw-normal">1320px</span></td>
                                    </tr>
                                    <tr>
                                      <td class="table-responsive"><span class="fw-bold">Class</span></td>
                                      <td class="table-responsive"><span class="fw-normal">.col-</span></td>
                                      <td class="table-responsive"><span class="fw-normal">.col-sm-</span></td>
                                      <td class="table-responsive"><span class="fw-normal">.col-md-</span></td>
                                      <td class="table-responsive"><span class="fw-normal">.col-lg-</span></td>
                                      <td class="table-responsive"><span class="fw-normal">.col-xl-</span></td>
                                      <td class="table-responsive"><span class="fw-normal">----------</span></td>
                                    </tr>
                                    <tr>
                                      <td class="table-responsive"><span class="fw-bold">Columns</span></td>
                                      <td class="table-responsive"><span class="fw-normal">12</span></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                    </tr>
                                    <tr>
                                      <td class="table-responsive"><span class="fw-bold">Gutter Width</span></td>
                                      <td class="table-responsive"><span class="fw-normal">Auto</span></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                      <td class="table-responsive"></td>
                                    </tr>
                                  </table>
                            </div>
                           
                        </div>

                    </div>
                </div>

        </div>
        </div>
    </div>




<script src="../script.js"></script>
<script src="../sidebar/sidebar.js"></script>
<script src="../translate.js"></script>
</body>
</html>
